---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


// ----- Font ----- //

/* system typefaces */
$sans-serif : "Overpass", sans-serif;
$monospace  : "Share Tech Mono", monospace;

$global-font-family : $sans-serif; 
$header-font-family : $monospace;

$primary-color: blue;
$link-color: white;
$link-color-hover: blue;

.sidebar{
  p {
    font-family: $sans-serif
    font-size: $type-size-5;
  }

  li {
    font-family: $monospace;
    font-size: $type-size-6;
    line-height: 1.5;
  }
  img {
    width: 20%;
	}
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



